@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Playwrite+HR+Lijeva:wght@100..400&display=swap');

.Ravi {
    font-family: "Playwrite HR Lijeva", cursive;
    font-weight: 1000;
}


.pallaviA {
    background-image: url(./images/background.jpg);
}